<app-loading *ngIf="showLoading"></app-loading>

<div class="sm:w-10/12 w-full sm:float-end">
    <h1 class="text-center font-bold text-2xl">Choose the plan that fits for you</h1>
    <div class="flex items-center justify-center">
        <div class="flex flex-wrap justify-center">
            <div *ngFor="let price of pricing"
                class="plan bg-white p-10 m-4 rounded-lg shadow-md transition duration-300 cursor-pointer hover:shadow-lg">
                <h2 class="text-xl font-semibold mb-4">{{price.name}}</h2>
                <div class="text-2xl font-semibold mb-4">₹{{price.price}}/month</div>
                <ul class="text-left" *ngFor="let features of price.features">
                    <li class="flex items-center mb-2"><i class="fas fa-check-circle text-green-500 mr-2"></i>
                        {{features.feat}}</li>
                </ul>
                <button
                    class="w-full py-3 bg-green-500 text-white font-semibold rounded-lg mt-4 transition duration-300 hover:bg-green-600 focus:outline-none"
                    (click)="buyNow(price.price)">{{price.btn}}</button>
            </div>
        </div>
    </div>
    <p [routerLink]="'/user/settings'" class="text-center cursor-pointer">Back</p>
</div>