<div class="nav-container">
    <div class="logo"><h1>BeatBlend</h1></div>
    <ul class="nav-list">
      <li><a href="#home">HOME</a></li>
      <li><a href="#playlist">PLAYLIST</a></li>
      <li><a href="#tickets">TICKETS</a></li>
      <li><a href="#news">NEWS</a></li>
      <li><a href="#festivalinfo">FESTIVAL INFO</a></li>
    </ul>
    <div class="buttons">
      <button class="signup-btn" (click)="signup()">Signup</button>
      <button class="login-btn" (click)="login()">Login</button>
    </div>
  </div>