<app-side-bar></app-side-bar>

<div class="h-screen bg-gray-100 flex items-center justify-center">
  <div class="bg-white border border-gray-200 rounded-md shadow-md p-8 w-full max-w-md">
    <form [formGroup]="myForm" class="space-y-4">
      <div class="flex items-center mb-4">
        <label for="file" class="block w-full mr-4 text-gray-700 font-medium">
          Upload File
        </label>
        <input name="file" type="file" id="file" formControlName="file"
          class="block w-full rounded-md bg-gray-100 border border-gray-200 focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div class="mb-4">
        <label for="bio" class="block text-gray-700 font-medium">Bio</label>
        <textarea name="bio" id="bio" placeholder="Enter bio" formControlName="bio"
          class="block w-full rounded-md bg-gray-100 border border-gray-200 resize-none h-20 focus:ring-indigo-500 focus:border-indigo-500"></textarea>
      </div>
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-medium">Username</label>
        <input name="username" type="text" id="username" placeholder="Enter username" formControlName="username"
          class="block w-full rounded-md bg-gray-100 border border-gray-200 focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div *ngIf="message"
        class="h-32 w-80 border border-red-500 rounded-xl flex justify-center items-center absolute translate-x-96 bg-red-100">
        <h1 class="text-lg text-red-500 font-medium">{{ message }}</h1>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium">Email</label>
        <input name="email" type="email" id="email" placeholder="Enter email" formControlName="email"
          class="block w-full rounded-md bg-gray-100 border border-gray-200 focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div class="flex items-center justify-between mb-4">
        <div class="mr-4">
          <label for="phoneNumber" class="block text-gray-700 font-medium">Phone Number</label>
          <input name="phoneNumber" type="tel" id="phoneNumber" placeholder="Enter phone number"
            formControlName="phoneNumber"
            class="block w-full rounded-md bg-gray-100 border border-gray-200 focus:ring-indigo-500 focus:border-indigo-500">
        </div>
        <button (click)="verifyPhone()"
          class="inline-flex items-center px-3 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Verify Phone
        </button>
      </div>
      <div class="mb-4">
        <label for="date" class="block text-gray-700 font-medium">Date</label>
        <input name="date" type="date" id="date" placeholder="Enter date" formControlName="date"
          class="block w-full rounded-md bg-gray-100 border border-gray-200 focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-medium">Gender</label>
        <div class="space-x-4">
          <label class="inline-flex items-center space-x-3">
            <input name="gender" type="radio" formControlName="gender" value="male"
              class="form-radio text-indigo-600 h-4 w-4 focus:ring-indigo-500 border-gray-300">
            <span class="text-gray-700 font-medium">Male</span>
          </label>
          <label class="inline-flex items-center space-x-3">
            <input name="gender" type="radio" formControlName="gender" value="female"
              class="form-radio text-indigo-600 h-4 w-4 focus:ring-indigo-500 border-gray-300">
            <span class="text-gray-700 font-medium">Female</span>
          </label>
          <label class="inline-flex items-center space-x-3">
            <input name="gender" type="radio" formControlName="gender" value="other"
              class="form-radio text-indigo-600 h-4 w-4 focus:ring-indigo-500 border-gray-300">
            <span class="text-gray-700 font-medium">Other</span>
          </label>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button (click)="onSubmit()" type="submit"
          class="bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Save Changes
        </button>
        <button [routerLink]="'/user/settings'" type="reset"
          class="bg-gray-500 hover:bg-gray-600 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
          Cancel
        </button>
      </div>
      <div *ngIf="showOtp" class="h-36 w-64 rounded-md shadow-md p-4 flex flex-col items-center bg-white">
        <label for="otp" class="text-gray-700 font-medium mb-2">Enter Otp</label>
        <input name="otp" [(ngModel)]="otp" type="number"
          class="rounded-md border border-gray-200 px-3 py-2 focus:ring-indigo-500 focus:border-indigo-500">
        <button (click)="onVerify()"
          class="mt-4 bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Verify</button>
        <p class="text-gray-500 text-sm mt-2">{{ otpMessage }}</p>
      </div>
    </form>
  </div>
</div>