<div class="w-screen md:h-96 h-auto  flex flex-col md:flex-row">
    <div class="h-full w-full md:w-1/2  flex flex-col gap-7 p-10">
        <div>
            <p class="text-2xl font-bold">Beat<span class="text-red-400">Blend</span></p>
            <p class="font-thin">COPYRIGHT ©2024 ALL RIGHTS RESERVED</p>
        </div>
        <div class="flex gap-8 ">
            <img class="h-7" src="../../../../../../assets/images/instagram.png" alt="">
            <img class="h-7" src="../../../../../../assets/images/youtube.png" alt="">
            <img class="h-7" src="../../../../../../assets/images/spotify.png" alt="">
            <img class="h-7" src="../../../../../../assets/images/facebook.png" alt="">
        </div>
    </div>
    <div class="h-full w-full md:w-1/2  flex flex-col md:flex-row">
        <div class=" h-full w-full md:w-1/2 p-10 space-y-4">
            <p class="font-bold text-2xl">About Us</p>
            <ul class="space-y-4"> 
                <li class="font-medium">Our Story</li>
                <li class="font-medium">BeatBlend Blog</li>
                <li class="font-medium">History</li>
            </ul>
        </div>
        <div class=" h-full w-full md:w-1/2 p-10 space-y-4">
            <p class="font-bold text-2xl">Products</p>
            <ul class="space-y-4"> 
                <li class="font-medium">Music</li>
                <li class="font-medium">Subscription</li>
                <li class="font-medium">Custom Music</li>
                <li class="font-medium">Footage</li>
            </ul>
        </div>

    </div>
</div>