<app-loading *ngIf="showLoading"></app-loading>

<div *ngIf="!success"
    class="text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-md p-4 mt-4 shadow-md">
    {{ message }}
</div>
<table *ngIf="success" class="w-full divide-y divide-gray-200">
    <thead>
        <tr>
            <th
                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Username</th>
            <th
                class="px-6 hidden md:flex py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Email</th>
            <th
                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Action</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let user of userData" class="hover:bg-gray-100" (click)="getUserDetails(user._id)">
            <td class="px-6 py-4 whitespace-no-wrap">{{ user.username }}</td>
            <td class="px-6 py-4 whitespace-no-wrap hidden md:flex">{{ user.email }}</td>
            <td>
                <button *ngIf="!user.isBlocked" (click)="blockUser($event,user._id)"
                    class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Block</button>
                <button *ngIf="user.isBlocked" (click)="blockUser($event,user._id)"
                    class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Unblock</button>
            </td>


            <td class="px-6 py-4 whitespace-no-wrap">
                <button *ngIf="!user.deleteStatus" (click)="deleteUser($event,user._id)"
                    class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Delete</button>
                <button *ngIf="user.deleteStatus" (click)="deleteUser($event,user._id)"
                    class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Undo</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="showDelDiv"
    class="fixed z-10 inset-0 overflow-hidden bg-gray-500 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white rounded-lg shadow-xl px-8 py-5 text-left">
        <p *ngIf="!togle" class="mb-4">Do you really want to delete this user?</p>
        <p *ngIf="togle" class="mb-4">Do you really want to undelete this user?</p>
        <div class="flex justify-end space-x-3">
            <button (click)="confirmDelete()"
                class="px-4 py-2 rounded-md bg-red-500 text-white font-bold hover:bg-red-700 disabled:opacity-50">Yes</button>
            <button (click)="showDelDiv=false"
                class="px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-200">Cancel</button>
        </div>
    </div>
</div>