<app-navbar></app-navbar>

<div *ngIf="!success" class="text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-md p-4 mt-4 shadow-md">
    {{ message }}
  </div>
<table *ngIf="success" class="min-w-full divide-y divide-gray-200">
    <thead>
        <tr>
            <th
                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Username</th>
            <th
                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Email</th>
            <th
                class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Action</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let user of userData" class="hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-no-wrap">{{ user.username }}</td>
            <td class="px-6 py-4 whitespace-no-wrap">{{ user.email }}</td>

            <td class="px-6 py-4 whitespace-no-wrap">
                <button *ngIf="!user.deleteStatus" (click)="deleteUser(user._id)"
                    class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Delete</button>
                <button *ngIf="user.deleteStatus" (click)="deleteUser(user._id)"
                    class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Undelete</button>
            </td>
        </tr>
    </tbody>
</table>