<div class=" w-screen absolute h-screen border flex p-5 md:p-0 items-center justify-center flex-col">
    <div class="bg-slate-200 shadow-2xl shadow-black rounded-3xl h-1/2 w-full overflow-hidden md:h-3/5 md:w-2/6 border flex flex-col items-center justify-center gap-5">
        <p class="font-bold text-3xl">OTP Verification</p>
        <form action="" class="gap-5 flex flex-col">
            <div class="flex flex-col justify-center items-center gap-2">
                <label for="enteredOTP" class="">Enter OTP:</label>
                <input class="bg-slate-200 text-center border-b-2 border-black" type="text" id="enteredOTP" name="enteredOTP" [(ngModel)]="enteredOTP"/>
            </div>
            <div class=" flex flex-row justify-center items-center space-x-5">
                <button type="button" (click)="onVerifyOTP()" class="bg-green-500 px-10 rounded-md py-1 text-white">Verify</button>
                <button type="button" (click)="goBck()" class="bg-red-500 px-10 rounded-md py-1 text-white">Back</button>
            </div>
            <div class="flex justify-center items-center">
                <span *ngIf="message === 'OTP verified successfully'" class="text-green-500">{{message}}</span>
                <span *ngIf="message === 'Invalid OTP'" class="text-red-500">{{message}}</span>
            </div>
        </form>
    </div>
</div>