.container{
    background-color: rgb(214, 157, 157);
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
}
input{
    height: 50px;
    width: 200px;
    border-radius: 20px;

}
button{
    background-color: rgb(81, 81, 149);
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}
*{
}