<!-- otp-verification.component.html -->
<div class="otp-container">
    <div class="otp-card">
      <h4 class="otp-title">OTP Verification</h4>
      <form>
        <div class="otp-input-group">
          <label for="enteredOTP">Enter OTP:</label>
          <input type="text" id="enteredOTP" name="enteredOTP" [(ngModel)]="enteredOTP" class="otp-input" />
        </div>
        <button type="button" (click)="onVerifyOTP()" class="otp-button">Verify OTP</button>
      </form>
    </div>
  </div>
  