<!-- <button [routerLink]="'/user/home'" class="border px-3 py-1 bg-black text-white">switch to user</button>
<button [routerLink]="'/artist/profile'" class="border px-3 py-1 bg-black text-white">profile</button>
<button *ngIf="!isInBand" [routerLink]="'/artist/createBand'" class="border px-3 py-1 bg-black text-white">create band</button>
<button *ngIf="isInBand" [routerLink]="'/band/home'" class="border px-3 py-1 bg-black text-white">access band</button> -->


<div class="flex justify-center py-8">
    <div class="flex flex-col space-y-4 max-w-sm">
      <a routerLink="/user/home" class="w-full p-2 text-center text-white bg-blue-600 rounded-lg shadow hover:bg-blue-700">
        Switch to User
      </a>
      <a routerLink="/artist/profile" class="w-full p-2 text-center text-white bg-indigo-600 rounded-lg shadow hover:bg-indigo-700">
        Profile
      </a>
      <template #createBandButton>
        <a *ngIf="!isInBand" routerLink="/artist/createBand" class="w-full p-2 text-center text-white bg-green-600 rounded-lg shadow hover:bg-green-700">
          Create Band
        </a>
      </template>
      <ng-container *ngIf="isInBand">
        <a routerLink="/band/home" class="w-full p-2 text-center text-white bg-orange-600 rounded-lg shadow hover:bg-orange-700">
          Access Band
        </a>
      </ng-container>
    </div>
  </div>
  
  