<!-- <app-side-bar></app-side-bar> -->

<div class="border flex gap-5 flex-wrap p-8 w-10/12 float-end">
    <div [routerLink]="'/user/createPlaylist'" class="h-48 flex cursor-pointer items-center justify-center rounded-xl flex-col w-48 border">
        <p class="capitalize text-2xl font-bold">create playlist</p>
        <img src="../../../../../assets/images/writing.png" class="h-5 w-5" alt="">
    </div>
    <div *ngFor="let list of playlist" (click)="showPlaylist(list._id)" class="overflow-hidden h-48 flex cursor-pointer items-center justify-center rounded-xl flex-col w-48 border">
        <p class="capitalize text-2xl font-bold absolute">{{list.playlistName}}</p>
        <img [src]="list.imageUrl ? list.imageUrl : 'https://imgs.search.brave.com/Sctdgrmntepu2CbKseQlGAI5eDUal4TjOpatVAaxHXc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2RlLzlm/Lzg2L2RlOWY4Njlk/YTdiNzBjZjZkYTQ3/YzVhY2Y2NzQ5NDM4/LmpwZw'" class="object-contain h-full w-full" alt="">
    </div>
</div>