<nav class="bg-gray-800 py-4">
    <ul class="flex justify-between items-center mx-auto px-4">
        <div>
            <li><a class="cursor-pointer text-white text-lg font-bold">Band Name</a></li>
        </div>
        <div class="flex "> 
            <li><a [routerLink]="'/band/home'" class="cursor-pointer text-white hover:text-gray-300 px-3 py-2">Home</a></li>
            <li><a [routerLink]="'/band/songs'" class="cursor-pointer text-white hover:text-gray-300 px-3 py-2">Songs</a></li>
            <li><a [routerLink]="'/band/addSongs'" class="cursor-pointer text-white hover:text-gray-300 px-3 py-2">Add Songs</a></li>
            <li><a [routerLink]="'/band/inviteMembers'" class="cursor-pointer text-white hover:text-gray-300 px-3 py-2">Invite Members</a></li>
            <li><a [routerLink]="'/band/profile'" class="cursor-pointer text-white hover:text-gray-300 px-3 py-2">Profile</a></li>
            <li><a class="cursor-pointer text-white hover:text-gray-300 px-3 py-2">Logout</a></li>
        </div>
    </ul>
</nav>