<nav class="bg-gray-800 p-4 text-white">
    <div class="flex justify-between items-center">
        <div class="flex items-center">
            <span class="text-white text-lg font-bold">Admin Dashboard</span>
        </div>
        <div class="flex md:hidden">
            <img (click)="showSideBar()" class="h-10" src="../../../../../../assets/images/more.png" alt="">
        </div>
        <div *ngIf="showSide" class="bg-black bg-opacity-50 w-screen translate-y-36 -translate-x-4 absolute md:hidden">
            <div class="">
                <ul class="text-center mt-2 space-y-2">
                    <li class="hover:-translate-y-1 transition text-lg" (click)="showSide=false"
                        [routerLink]="'/admin/home'">Home</li>
                    <li class="hover:-translate-y-1 transition text-lg" (click)="showSide=false"
                        [routerLink]="'/admin/userList'">Users</li>
                    <li class="hover:-translate-y-1 transition text-lg" (click)="showSide=false"
                        [routerLink]="'/admin/artistList'">Artists</li>
                    <li class="hover:-translate-y-1 transition text-lg" (click)="showSide=false"
                        [routerLink]="'/admin/adminList'">Admins</li>
                    <li class="hover:-translate-y-1 transition text-lg" (click)="showSide=false"
                        [routerLink]="'/admin/pendingUsersList'">Pending Request</li>
                    <li class="hover:-translate-y-1 transition text-lg" (click)="onLogout()">Logout</li>

                </ul>
            </div>
        </div>

        <div class="md:flex hidden items-center space-x-6">
            <a [routerLink]="'/admin/home'" class="text-white hover:text-gray-300 cursor-pointer">Home</a>
            <a [routerLink]="'/admin/userList'" class="text-white hover:text-gray-300 cursor-pointer">Users</a>
            <a [routerLink]="'/admin/artistList'" class="text-white hover:text-gray-300 cursor-pointer">Artists</a>
            <a [routerLink]="'/admin/adminList'" class="text-white hover:text-gray-300 cursor-pointer">Admins</a>
            <a [routerLink]="'/admin/pendingUsersList'" class="text-white hover:text-gray-300 cursor-pointer">Pending
                Requests</a>
            <a (click)="onLogout()" class="text-white hover:text-gray-300 cursor-pointer">Logout</a>
        </div>
    </div>
</nav>