<section class="h-screen bg-cover"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="flex items-center h-full bg-gradient-to-r from-blue-500 to-purple-500">
            <div class="container mx-auto rounded-lg">
                <div class="flex justify-end items-center h-full">
                    <div class="w-full md:w-2/3 lg:w-1/2 xl:w-2/5">
                        <div class="bg-white rounded-lg relative">
                            <div class="p-3">
                                <h4 class="text-2xl font-bold text-center mb-3">Login</h4>

                                <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="needs-validation"
                                    novalidate>

                                    <div class="mb-2">
                                        <!-- Use either username or email based on your authentication setup -->
                                        <input type="text" id="usernameOrEmail" class="w-full p-2 border rounded"
                                            formControlName="usernameOrEmail" />
                                        <label class="block text-sm text-gray-700" for="usernameOrEmail">Username or
                                            Email</label>
                                        <div *ngIf="usernameOrEmail?.errors?.['required'] && usernameOrEmail?.touched"
                                            class="text-danger text-sm">
                                            Username or Email is required.
                                        </div>
                                    </div>

                                    <div class="mb-2">
                                        <input type="password" id="password" class="w-full p-2 border rounded"
                                            formControlName="password" />
                                        <label class="block text-sm text-gray-700" for="password">Password</label>
                                        <div *ngIf="password?.errors?.['required'] && password?.touched"
                                            class="text-danger text-sm">
                                            Password is required.
                                        </div>
                                    </div>

                                    <div class="flex justify-between items-center mb-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="rememberCheckbox"
                                                formControlName="remember" />
                                            <label class="text-sm text-gray-700" for="rememberCheckbox">Remember
                                                me</label>
                                        </div>
                                        <a href="#!" class="text-body text-sm">Forgot Password?</a>
                                    </div>

                                    <div class="flex justify-center mb-2">
                                        <button type="submit" class="bg-blue-500 text-white p-2 w-full rounded"
                                            [disabled]="loginForm!.invalid">Login</button>
                                    </div>

                                    <!-- Display message in red color and at an appropriate position -->
                                    <div *ngIf="message" class="text-danger text-center mt-2 text-sm">
                                        {{message}}
                                    </div>

                                    <p class="text-center text-muted mt-2 mb-0">
                                        Don't have an account?
                                        <a [routerLink]="'/'" class="font-bold text-body text-sm"><u>Sign up
                                                here</u></a>
                                    </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>