<div class="h-screen sm:w-10/12 w-full sm:float-end flex flex-col overflow-y-auto px-4 py-8">
    <h3 class="text-xl font-bold mb-4">Following</h3>
    <ul class="space-y-4">
      <li *ngFor="let user of userList" (click)="getUserProfile(user._id)" class="flex items-center py-2 px-4 rounded-lg hover:bg-gray-100 cursor-pointer">
        <img
          [src]="user?.userProfile[0]?.imageUrl ? user?.userProfile[0]?.imageUrl : '../../../../../assets/images/account.png'"
          alt="User Avatar"
          class="w-10 h-10 rounded-full mr-4 object-cover"
        />
        <div class="text-gray-800">{{ user?.username }}</div>
        <button
          (click)="unfollowUser(user._id)"
          class="ml-auto flex items-center px-3 py-2 text-sm font-medium text-white bg-red-500 hover:bg-red-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        >
          Unfollow
        </button>
      </li>
    </ul>
  </div>
  