<div class="w-screen md:h-96 h-auto flex md:flex-row gap-5 flex-col p-10">
  <div class="md:w-1/2 w-full h-full flex justify-center items-center">
    <h1 class="font-semibold text-6xl text-center">
      Unlimited Access to 100K tracks
    </h1>
  </div>

  <div
    class="md:w-1/2 w-full h-full flex flex-col justify-center items-center gap-9"
  >
    <p class="font-thin text-xl">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere sunt ea,
      suscipit beatae quas quibusdam corporis eaque, ex laborum nemo
      consequuntur deserunt. Delectus, dolores maiores numquam ex tenetur vitae
      praesentium?
    </p>
    <button
      class="h-14 w-44 rounded-full bg-red-500 hover:bg-red-700 transition text-white"
      (click)="signup()"
    >
      Try it Now
    </button>
  </div>
</div>
