<div class="h-screen flex items-center justify-center w-screen border">
    <div class="h-full w-full border p-8  rounded-md">
        <form [formGroup]="myForm" class="space-y-4">
            <div>
                <label for="file" class="block">Upload File</label>
                <input name="file" type="file" id="file" formControlName="file" class="block">
            </div>
            <div>
                <label for="bio" class="block">Bio</label>
                <textarea name="bio" id="bio" placeholder="Enter bio" formControlName="bio"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"></textarea>
            </div>
            <div>
                <label for="username" class="block">Username</label>
                <input name="username" type="text" id="username" placeholder="Enter username" formControlName="username"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div *ngIf="message"
                class="h-32 w-80 border absolute translate-x-96 bg-red-300 rounded-xl flex justify-center items-center">
                <h1 class="text-xl z-10 text-black">{{message}}</h1>
            </div>
            <div>
                <label for="email" class="block">Email</label>
                <input name="email" type="email" id="email" placeholder="Enter email" formControlName="email"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div class="flex justify-between items-center">
                <div>
                    <label for="phoneNumber" class="block">Phone Number</label>
                    <input name="phoneNumber" type="tel" id="phoneNumber" placeholder="Enter phone number" formControlName="phoneNumber"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div>
                    <button (click)="verifyPhone()" class="bg-black text-white p-1 rounded-xl">verify phone</button>
                </div>

            </div>

            <div>
                <label for="date" class="block">Date</label>
                <input name="date" type="date" id="date" placeholder="Enter date" formControlName="date"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div>
                <label class="block">Gender</label>
                <label class="inline-flex items-center">
                    <input name="gender" type="radio" formControlName="gender" value="male"
                        class="form-radio text-indigo-600 h-4 w-4 focus:ring-indigo-500 border-gray-300">
                    <span class="ml-2">Male</span>
                </label>
                <label class="inline-flex items-center">
                    <input name="gender" type="radio" formControlName="gender" value="female"
                        class="form-radio text-indigo-600 h-4 w-4 focus:ring-indigo-500 border-gray-300">
                    <span class="ml-2">Female</span>
                </label>
                <label class="inline-flex items-center">
                    <input name="gender" type="radio" formControlName="gender" value="other"
                        class="form-radio text-indigo-600 h-4 w-4 focus:ring-indigo-500 border-gray-300">
                    <span class="ml-2">Other</span>
                </label>
            </div>
            <button (click)="onSubmit()" type="submit"
                class="bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Save
                Chnages</button>
            <button [routerLink]="'/user/settings'" type="reset"
                class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600">Cancel</button>

        </form>
    </div>
</div>