<section class="h-screen bg-cover" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="flex items-center h-full bg-gradient-to-r from-blue-500 to-purple-500">
    <div class="container mx-auto rounded-lg">
      <div class="flex justify-end items-center h-full">
        <div class="w-full md:w-2/3 lg:w-1/2 xl:w-2/5">
          <div class="bg-white rounded-lg relative">
            <div class="p-3">
              <h4 class="text-uppercase text-center mb-3 text-2xl">Create an account</h4>

              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>

                <div class="mb-2">
                  <input type="text" id="username" class="w-full p-2 border rounded" formControlName="username" placeholder="Username" />
                  <div *ngIf="username?.errors?.['required'] && username?.touched" class="text-danger">
                    Username is required.
                  </div>
                  <div *ngIf="username?.errors?.['minlength'] && username?.touched" class="text-danger">
                    Username must be at least 4 characters long.
                  </div>
                  <div class="text-danger" *ngIf="alreadyExist">{{alreadyExist}}</div>
                </div>

                <div class="mb-2">
                  <input type="email" id="email" class="w-full p-2 border rounded" formControlName="email" placeholder="Email" />
                  <div *ngIf="email?.errors?.['required'] && email?.touched" class="text-danger">
                    Email is required.
                  </div>
                  <div *ngIf="email?.errors?.['email'] && email?.touched" class="text-danger">
                    Email is invalid.
                  </div>
                </div>

                <div class="mb-2">
                  <div class="mainContainer" [ngClass]="{'blur-background':showOtpComponent}">
                    <app-otp-verification *ngIf="showOtpComponent" [otp]="otp" [data]="data" (hide)="hideComponent($event)"></app-otp-verification>
                  </div>
                </div>

                <div class="mb-2">
                  <input type="password" id="password" class="w-full p-2 border rounded" formControlName="password" placeholder="Password" />
                  <div *ngIf="password?.errors?.['required'] && password?.touched" class="text-danger">
                    Password is required.
                  </div>
                  <div *ngIf="password?.errors?.['minlength'] && password?.touched" class="text-danger">
                    Password must be at least 8 characters long.
                  </div>
                  <div *ngIf="password?.errors?.['passwordStrength'] && password?.touched" class="text-danger">
                    Password must contain at least one uppercase letter, one lowercase letter, one digit, and one
                    special character.
                  </div>
                </div>

                <div class="mb-2">
                  <input type="password" id="confirmPassword" class="w-full p-2 border rounded" formControlName="confirmPassword" placeholder="Repeat password" />
                  <div *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched" class="text-danger">
                    Confirm Password is required.
                  </div>
                  <div *ngIf="signupForm.get('confirmPassword')?.hasError('mismatchedPasswords') && signupForm.get('confirmPassword')?.touched" class="text-danger">
                    Passwords do not match.
                  </div>
                </div>

                <div class="mb-2">
                  <input class="mr-1" type="checkbox" id="termsCheckbox" formControlName="terms" />
                  <label class="text-gray-700" for="termsCheckbox">
                    Agree to <a href="#!" class="text-blue-500"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="mb-2">
                  <button type="submit" class="bg-green-500 text-white p-2 w-full rounded" [disabled]="signupForm!.invalid">Register</button>
                </div>

                <p class="text-center text-gray-500 mt-2 mb-0">Already have an account? <a [routerLink]="'/login'" class="font-bold text-blue-500"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
