<div class="flex sm:w-10/12 w-full sm:float-end justify-center">
  <form class="flex flex-col space-y-4" enctype="multipart/form-data">
    <h2 class="text-xl font-bold text-gray-800">Create Playlist</h2>

    <div class="flex items-center space-x-2">
      <label for="playlistTitle" class="text-sm text-gray-600">Title:</label>
      <input [(ngModel)]="playlistName" type="text" id="playlistTitle" name="playlistTitle"
        class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-sky-500">
    </div>

    <div class="flex items-center space-x-2">
      <label for="playlistImage" class="text-sm text-gray-600">Image URL:</label>
      <input (change)="change($event)" type="file" id="playlistImage" name="playlistImage"
        class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-sky-500">
    </div>

    <div class="flex items-center space-x-2">
      <label for="songs" class="text-sm text-gray-600">Songs:</label>
      <input [(ngModel)]="searchText" (keyup)="searchSong()" type="text" id="songs" name="songs"
        class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-sky-500"
        placeholder="Song Title - Artist (separate each song with a new line)">
    </div>
    <div *ngFor="let song of songs" class="flex justify-between">
      {{song.title}}
      <button (click)="addToPlaylist(song._id)"
        class="{{ isSongInPlaylist(song._id) ? 'bg-red-500' : 'bg-green-500' }} text-white font-bold py-2 px-4 rounded">
        {{ isSongInPlaylist(song._id) ? 'Remove' : 'Add' }}
      </button>


    </div>

    <button *ngIf="!playlistId" (click)="onSubmit()" type="submit"
      class="w-full py-2 bg-sky-500 text-white rounded-md hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Create
      Playlist</button>
    <button *ngIf="playlistId" (click)="onEditPlaylist()" type="button"
      class="w-full py-2 bg-sky-500 text-white rounded-md hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Edit
      Playlist</button>
    <button type="button" [routerLink]="'/user/playlist'"
      class="w-full py-2 bg-slate-500 text-white rounded-md hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500">back</button>
  </form>

</div>