.sentMessage {
  background-color: rgb(37 99 235 / 100%);
  padding: 12px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0.5rem;
  color: white;
  align-self: flex-end; /* Align to the right */
  margin-left: auto; /* Move to the right */
}

.receivedMessage {
  background-color: gray;
  padding: 0.75rem;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0.5rem;
  color: white;
  align-self: flex-start; /* Align to the left */
  margin-right: auto; /* Move to the left */
}
