<app-side-bar></app-side-bar>

<div class="flex flex-col items-center justify-center h-screen ">
    <div class="mb-10">
        <img src="../../../../../../assets/images/account.png" alt="Profile" class="w-20 h-20 rounded-full shadow-lg">
    </div>
    <div class="mb-5 flex justify-around items-center space-x-4">
        <div class="flex flex-row justify-between bg-gray-200 shadow-md w-36 rounded-md hover:bg-gray-300 px-4 cursor-pointer">
          <p class="text-gray-700 font-bold text-center">Following</p>
          <span class="text-xl text-blue-600 font-bold text-center">{{ following }}</span>
        </div>
        <div class="flex flex-row justify-between bg-gray-200 shadow-md w-36 rounded-md hover:bg-gray-300 px-4 cursor-pointer">
          <p class="text-gray-700 font-bold text-center">Followers</p>
          <span class="text-xl text-blue-600 font-bold text-center">{{ followers }}</span>
        </div>
      </div>
      
    <div class="mb-6">
        <button [routerLink]="'/user/profile'"
            class="px-6 py-3 bg-white text-blue-600 font-semibold rounded-md shadow-md">Update Profile</button>
    </div>
    <div class="mb-6" *ngIf="!showDiv && !isArtist">
        <button (click)="showInput()" class="px-6 py-3 bg-white text-blue-600 font-semibold rounded-md shadow-md">Become
            an Artist</button>
    </div>
    <div *ngIf="showDiv" class="flex flex-col items-center mb-6">
        <input [(ngModel)]="socialMediaLink" type="text"
            class="px-4 py-2 bg-white border-2 border-blue-600 rounded-md shadow-md focus:outline-none focus:border-blue-700 transition duration-300 ease-in-out"
            required>
        <p *ngIf="message" class="capitalize text-red-500">{{message}}</p>
        <div class="mt-2 space-x-4">
            <button (click)="beAnArtist()"
                class="px-6 py-3  text-blue-600 font-semibold rounded-md shadow-md  transition duration-300 ease-in-out">Submit</button>
            <button (click)="showDiv=false"
                class="px-6 py-3 bg-red-600 text-white font-semibold rounded-md shadow-md hover:bg-red-700 transition duration-300 ease-in-out">Cancel</button>
        </div>
    </div>
    <div *ngIf="isArtist">
        <button [routerLink]="'/artist/home'"
            class="px-6 py-3 bg-black text-blue-600 font-semibold rounded-md shadow-md transition duration-300 ease-in-out">Switch
            to Artist</button>
    </div>
    <div>
        <button [routerLink]="'/user/home'"
            class="px-6 py-3 bg-white text-blue-600 font-semibold rounded-md shadow-md transition duration-300 ease-in-out">Back</button>
    </div>
</div>