<div class="flex flex-col md:flex-row h-auto md:h-screen w-screen ">
    <div class="h-full w-full md:w-1/2 p-16 flex flex-col gap-10 items-center justify-center">
        <div class="flex flex-col gap-5">
            <p class="font-bold md:text-6xl text-4xl">Subscription from $15/month</p>
            <p class="font-bold text-3xl text-red-500">Start a free trial now</p>
        </div>
        <div class="flex flex-col justify-center items-center gap-5">
            <p class="font-semibold text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
                tenetur odit
                dolorum aliquid sint, blanditiis eius quasi quo velit a, sit voluptates iste natus quam quis rerum
                similique. Rem, perferendis.</p>
            <button class="w-52 h-12  rounded-full bg-red-500 hover:bg-red-700 transition text-white uppercase font-bold" (click)="signup()">Try it
                Now</button>
        </div>
    </div>
    <div class="h-full w-full md:w-1/2  flex items-center justify-center">
        <div class="h-4/5 w-4/5  rounded-2xl flex flex-col items-center justify-center gap-7">
            <div class=" flex items-start justify-center flex-col gap-7">
                <div class="flex items-center justify-center gap-5">
                    <img class="h-6" src="../../../../../../assets/images/checked.png" alt="">
                    <p class="font-medium text-xl">Play any track</p>
                </div>
                <div class="flex items-center justify-center gap-5">
                    <img class="h-6" src="../../../../../../assets/images/checked.png" alt="">
                    <p class="font-medium text-xl">Listen offline</p>
                </div>
                <div class="flex items-center justify-center gap-5">
                    <img class="h-6" src="../../../../../../assets/images/checked.png" alt="">
                    <p class="font-medium text-xl">No ad interruptions</p>
                </div>
                <div class="flex items-center justify-center gap-5">
                    <img class="h-6" src="../../../../../../assets/images/checked.png" alt="">
                    <p class="font-medium text-xl">Unlimited skips</p>
                </div>
                <div class="flex items-center justify-center gap-5">
                    <img class="h-6" src="../../../../../../assets/images/checked.png" alt="">
                    <p class="font-medium text-xl">High quality audio</p>
                </div>
                <div class="flex items-center justify-center gap-5">
                    <img class="h-6" src="../../../../../../assets/images/checked.png" alt="">
                    <p class="font-medium text-xl">Shuffle play</p>
                </div>
            </div>
        </div>
    </div>
</div>