<div class=" h-screen w-screen flex flex-col-reverse md:flex-row md:px-16 md:py-6">
    
    <div
        class="  h-full w-full md:w-1/2 bg-white rounded-bl-3xl rounded-tl-3xl md:rounded-tl-3xl md:rounded-bl-3xl md:rounded-br-none opacity-90">
        <div class="  w-full h-1/6 flex flex-col items-center gap-2  mb-10">
            <p class="font-bold text-xl">Welcome Back!</p>
            <p class="font-thin">Don't have an account? <a [routerLink]="'/signup'" class="text-red-500"> Sign
                    Up</a></p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="needs-validation" novalidate>
            <div class=" h-5/6 flex flex-col justify-center items-center gap-7 p-16">

                <!-- email -->
                <div class="flex flex-col justify-center items-center w-full">
                    <input type="text" id="usernameOrEmail" class="w-full  md:w-5/6 p-2 border-b-2 "
                        formControlName="usernameOrEmail" placeholder="Username or Email" />

                    <div *ngIf="usernameOrEmail?.errors?.['required'] && usernameOrEmail?.touched"
                        class="text-red-500 text-xs">
                        Username or Email is required.
                    </div>
                </div>

                <!-- password -->
                <div class="flex flex-col justify-center items-center w-full">
                    <input type="password" id="password" class="w-full  md:w-5/6 p-2 border-b-2"
                        formControlName="password" placeholder="Password" />

                    <div *ngIf="password?.errors?.['required'] && password?.touched" class="text-red-500 text-xs">
                        Password is required.
                    </div>
                </div>

                <!-- button -->
                <div class="flex justify-center w-full">
                    <button type="submit" class="bg-green-500 text-white p-2 w-5/6 rounded"
                        [disabled]="loginForm!.invalid">Login</button>
                </div>

                <div *ngIf="message" class="text-red-500 text-center mt-2 text-xs">
                    {{message}}
                </div>

            </div>
        </form>
    </div>
    <div
        class="flex justify-center border md:h-full w-full md:w-1/2 bg-red-200 rounded-tl-3xl rounded-tr-3xl md:rounded-tr-3xl md:rounded-br-3xl md:rounded-tl-none opacity-90">
        <p class="font-black text-4xl flex flex-col justify-center items-center md:text-6xl p-5 md:p-5 leading-tight">Sign In to <span
                class="text-red-500">Your Account</span></p>
    </div>
</div>