<app-artist-nav-bar></app-artist-nav-bar>

<div *ngIf="!success"
    class="alert bg-gray-200 mt-4 px-4 py-3 rounded-md text-gray-700 flex items-center justify-center">
    <p class="text-sm font-medium mr-3">{{ message }}</p>
    <i class="fas fa-exclamation-triangle"></i>
</div>


<table *ngIf="success" class="table-fixed w-full rounded-3xl overflow-hidden shadow-md mt-4">
    <thead>
        <tr>
            <th scope="col" class="px-6 py-3 bg-gray-100 font-medium text-gray-700 text-left">Title</th>
            <th scope="col" class="px-6 py-3 bg-gray-100 font-medium text-gray-700 text-left">Artist</th>
            <th scope="col" class="px-6 py-3 bg-gray-100 font-medium text-gray-700 text-left">Album</th>
            <th scope="col" class="px-6 py-3 bg-gray-100 font-medium text-gray-700 text-left">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of songs">
            <td class="px-6 py-4 whitespace-nowrap text-gray-700">{{ song.title }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-700">{{username}} , {{ song.artist }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-700">{{ song.album }}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <button (click)="showDeleteConfirmation(song._id)"
                    class="text-red-500 hover:text-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- <div class="container mx-auto py-4 grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div *ngFor="let song of songs" class="card h-64 flex items-center justify-center rounded-lg bg-white shadow-md overflow-hidden">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.KoKk_vYZW-dFP-YSdRSOZwHaEo%26pid%3DApi%26h%3D160&f=1&ipt=63938f1b0cf8f59164d81eb2aec022327bd144e5c0c4d42a1551850b7b669ebf&ipo=images" alt="{{ song.title }}" class="w-3/5 h-1/2 object-cover" />
      <div class="p-4">
        <h2 class="text-lg font-bold mb-2">Title: {{ song.title }}</h2>
        <p class="text-gray-700 text-sm mb-2">Artist: {{ song.artist }}</p>
        <p class="text-gray-700 text-sm" *ngIf="song.album">Album: {{ song.album }}</p>
        <div class="flex justify-between mt-4">
          <button (click)="showDeleteConfirmation(song._id)" class="text-red-500 hover:text-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">Delete</button>
        </div>
      </div>
    </div>
  </div> -->



<div *ngIf="showDeleteDiv"
    class="fixed top-0 left-0 w-full h-screen bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white shadow-md rounded-lg p-4 overflow-hidden text-center">
        <h2 class="text-2xl font-bold mb-2">Delete Song Confirmation</h2>
        <p class="text-gray-700 text-sm px-6">Are you sure you want to delete the song? This
            action cannot be undone.</p>
        <div class="flex justify-center mt-4">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2"
                (click)="deleteSong()">Yes</button>
            <button
                class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                (click)="showDeleteDiv = false">Cancel</button>
        </div>
    </div>
</div>