

.band-details-container {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.band-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.band-info {
    margin-left: 20px;
}

.band-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.band-admin {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.member-actions {
    margin-bottom: 10px;
}

.add-member-checkbox {
    margin-right: 10px;
}

.add-member-label {
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.members-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.member-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.member-name {
    font-size: 1.1rem;
    margin-right: 10px;
    cursor: pointer;
}

.remove-member-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-member-button:hover {
    background-color: #c82333;
}
