<div class="w-screen">
  <p class="font-bold text-3xl">hey, {{artistDetails?.username}}</p>
  <div class="h-20 w-20 border cursor-pointer" [routerLink]="'/artist/followingList'">following <span>{{artistDetails?.following?.length}}</span></div>
  <div class="h-20 w-20 border cursor-pointer" [routerLink]="'/artist/followersList'">followers <span>{{artistDetails?.followers?.length}}</span></div>
  <div class="h-20 w-20 border cursor-pointer" [routerLink]="'/artist/songs'">songs <span>{{artistDetails?.songs?.length}}</span></div>
</div>