<div class="h-auto md:h-screen w-screen border flex flex-col">
    <div class="w-full h-1/2 border flex flex-col md:flex-row">
        <div class="h-full w-full md:w-1/2  border flex justify-center items-center">
            <p class="text-5xl font-bold">Our Concept & artists</p>
        </div>
        <div class="h-full w-full md:w-1/2  border flex justify-center items-center">
            <p class="text-xl font-medium p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                voluptate, commodi ipsa, expedita quaerat error voluptas, consectetur quas est nisi iure accusamus
                cum perferendis cumque fugiat vel adipisci similique ea?</p>
        </div>
    </div>
    <div class="w-full h-1/2 border flex flex-col md:flex-row px-10">
        <div class="h-auto w-full  md:w-1/4 border flex flex-col space-y-4 justify-center items-center overflow-hidden">
            <img src="https://i.pinimg.com/564x/78/df/2c/78df2c8dbe510987209872a314d96f61.jpg"
                class="object-cover rounded-3xl h-full w-full md:h-3/4 md:w-4/5 " alt="">
            <p class="font-medium text-2xl">Soul Music</p>
        </div>
        <div class="h-auto w-full md:w-1/4 border flex flex-col space-y-4 justify-center items-center overflow-hidden">
            <img src="https://i.pinimg.com/564x/68/29/84/682984899e12e137a1a2b935bdd84e69.jpg"
                class="object-cover rounded-3xl h-full w-full md:h-3/4 md:w-4/5 " alt="">
            <p class="font-medium text-2xl">Live Concerts</p>
        </div>
        <div class="h-auto w-full md:w-1/4 border flex flex-col space-y-4 justify-center items-center overflow-hidden">
            <img src="https://i.pinimg.com/564x/0b/ea/2d/0bea2d6056f0df810cef7de99f66a116.jpg"
                class="object-cover rounded-3xl h-full w-full md:h-3/4 md:w-4/5 " alt="">
            <p class="font-medium text-2xl">DJ Sets</p>
        </div>
        <div class="h-auto w-full md:w-1/4 border flex flex-col space-y-4 justify-center items-center overflow-hidden">
            <img src="https://i.pinimg.com/564x/7d/b3/3e/7db33e5b31fa95df70443379119f6e26.jpg"
                class="object-cover rounded-3xl h-full w-full md:h-3/4 md:w-4/5 " alt="">
            <p class="font-medium text-2xl">Live Streams</p>
        </div>
    </div>
</div>