<!-- 
<div class="h-screen w-screen">
    <div class="h-full w-[70px] md:w-56 border-2 flex flex-col justify-between p-1 md:p-5">
        <div class="flex flex-col space-y-5">
            <div class="flex items-center space-x-5 border px-4 py-1 rounded-lg cursor-pointer">
                <img class="h-6 w-6" src="../../../../../assets/images/home.png" alt="">
                <p class="hidden md:flex">Home</p>
            </div>
            <div class="flex items-center space-x-5 border px-4 py-1 rounded-lg cursor-pointer">
                <img class="h-6 w-6" src="../../../../../assets/images/magnifying-glass.png" alt="">
                <p class="hidden md:flex">Search</p>
            </div>
            <div class="flex items-center space-x-5 border px-4 py-1 rounded-lg cursor-pointer">
                <img class="h-6 w-6" src="../../../../../assets/images/library.png" alt="">
                <p class="hidden md:flex">Library</p>
            </div>
        </div>
        <div class="flex flex-col space-y-5">
            <div [routerLink]="'/user/settings'" class="flex items-center space-x-5 border px-4 py-1 rounded-lg cursor-pointer">
                <img class="h-6 w-6" src="../../../../../assets/images/settings.png" alt="">
                <p class="hidden md:flex">Settings</p>
            </div>
            <div (click)="logout()" class="flex items-center space-x-5 border px-4 py-1 rounded-lg cursor-pointer">
                <img class="h-6 w-6" src="../../../../../assets/images/power-off.png" alt="">
                <p class="hidden md:flex">Logout</p>
            </div>
        </div>
    </div>
</div>



<router-outlet></router-outlet> -->


<app-side-bar></app-side-bar>