<!-- <app-side-bar></app-side-bar> -->
<div class="w-10/12 h-[470px] overflow-auto float-end border p-10">
    <h3 class="text-xl font-bold mb-4">hey, {{username}}</h3>
    <p *ngIf="message">{{message}}</p>
    <div *ngFor="let song of songs" (click)="playSong(song.songUrl)"
        class="h-1/6 w-2/3 cursor-pointer border flex flex-col justify-around">
        <div>
            <p>{{song.artistUsername}}</p>
        </div>
        <div class="flex items-center justify-between">
            <div>
                <p>{{song.title}}</p>
            </div>
            <div>
                <img (click)="favAndUnfav($event,song)" class="cursor-pointer h-5 w-5"
                    [src]="favBtn ? '../../../../../assets/images/star.png' : '../../../../../assets/images/starborder.png'"
                    alt="">
            </div>
        </div>
    </div>
</div>
