<app-side-bar></app-side-bar>

<div class="w-10/12 h-screen border float-end p-5">
    <div>
        <h3 class="text-xl font-bold mb-4">hey, {{username}}</h3>
        <p *ngIf="message">{{message}}</p>
    </div>
    <div class="h-1/6 w-8/12 border flex justify-between items-center px-5" *ngFor="let song of songs">
        <audio id="audioPlayer" controls>
            <source [src]="song.songUrl" type="audio/mpeg">
        </audio>
        <p>{{song.artistUsername}}</p>
        <p>{{song.title}}</p>
        <p>({{song.genre}})</p>
        <img (click)="favAndUnfav(song)" class="cursor-pointer h-5 w-5"
        [src]="song.favBtn ? '../../../../../assets/images/star.png' : '../../../../../assets/images/starborder.png'"
        alt="">
    </div>
</div>