<!-- otpComponent -->
<app-otp-verification class="z-10" *ngIf="showOtpComponent" [otp]="otp" [data]="data" (hide)="hideComponent($event)"
  (hideLoading)="hideLoading($event)"></app-otp-verification>

<div [class.blur-background]="showOtpComponent" class="h-screen w-screen flex flex-col md:flex-row md:px-16 md:py-6">

  <div
    class=" h-1/5 flex items-center justify-center md:h-full w-full md:w-1/2 bg-red-200 rounded-tl-3xl rounded-tr-3xl md:rounded-tl-3xl md:rounded-bl-3xl md:rounded-tr-none">
    <p class="font-black text-4xl md:text-6xl p-5 md:p-8 leading-tight flex flex-col">Sign Up for a <span
        class="text-red-500">Sonic
        Adventure</span></p>
  </div>
  <div
    class=" h-full w-full md:w-1/2 bg-white rounded-br-3xl rounded-bl-3xl md:rounded-tr-3xl md:rounded-br-3xl md:rounded-bl-none">
    <div class="flex flex-col items-center gap-2  mb-10">
      <p class="font-bold text-xl">Create an Account</p>
      <p class="font-thin">Already have an account? <a [routerLink]="'/login'" class="text-red-500"> Sign In</a></p>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="flex flex-col gap-5">

        <!-- username -->
        <div class="flex items-center flex-col">
          <input type="text" id="username" class="w-5/6 md:w-3/5 p-2  rounded" formControlName="username"
            placeholder="Username" />
          <div *ngIf="username?.errors?.['required'] && username?.touched"
            class="text-red-500 text-xs absolute translate-y-11">
            Username is required.
          </div>
          <div *ngIf="username?.errors?.['minlength'] && username?.touched"
            class="text-red-500 text-xs absolute translate-y-11">
            Username must be at least 4 characters long.
          </div>
          <div class="text-red-500 text-xs absolute translate-y-11" *ngIf="alreadyExist">{{alreadyExist}}</div>
        </div>

        <!-- email -->
        <div class="flex items-center flex-col">
          <input type="email" id="email" class="w-5/6 md:w-3/5 p-2 rounded" formControlName="email"
            placeholder="Email" />
          <div *ngIf="email?.errors?.['required'] && email?.touched"
            class="text-red-500 text-xs absolute translate-y-11">
            Email is required.
          </div>
          <div *ngIf="email?.errors?.['email'] && email?.touched" class="text-red-500 text-xs absolute translate-y-11">
            Email is invalid.
          </div>
        </div>






        <!-- password -->
        <div class="flex items-center justify-center flex-col">
          <input type="password" id="password" class="w-5/6  md:w-3/5 p-2  rounded" formControlName="password"
            placeholder="Password" />
          <div *ngIf="password?.errors?.['required'] && password?.touched"
            class="text-red-500 text-xs absolute translate-y-11">
            Password is required.
          </div>
          <div *ngIf="password?.errors?.['passwordStrength'] && password?.touched"
            class="text-red-500 text-xs mt-4 translate-x-3">
            Password must be 8 character. Needs uppercase, lowercase, digit, and special character.
          </div>
        </div>

        <!-- confirmpassword -->
        <div class="flex items-center flex-col">
          <div class="w-full  flex justify-center items-center">
            <input type="{{ hidePassword ? 'password' : 'text' }}" id="confirmPassword"
              class="w-5/6 translate-x-2 md:w-3/5 p-2  rounded" formControlName="confirmPassword"
              placeholder="Repeat password" />
            <img (click)="togglePasswordVisibility()" class="h-5 w-5 -translate-x-5"
              [src]="hidePassword ? '../../../assets/images/eye.png' : '../../../assets/images/hidden.png'"
              alt="Password visibility toggle" />
          </div>
          <div *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched"
            class="text-red-500 text-xs absolute translate-y-11">
            Confirm Password is required.
          </div>
          <div
            *ngIf="signupForm.get('confirmPassword')?.hasError('mismatchedPasswords') && signupForm.get('confirmPassword')?.touched"
            class="text-red-500 text-xs absolute translate-y-11">
            Passwords do not match.
          </div>
        </div>

        <!-- terms -->
        <div class="flex justify-center">
          <input class="mr-1" type="checkbox" id="termsCheckbox" formControlName="terms" />
          <label class="text-gray-700" for="termsCheckbox">
            Agree to <a href="#!" class="text-blue-500"><u>Terms of service</u></a>
          </label>
        </div>

        <!-- button -->
        <div class="flex justify-center">
          <button *ngIf="!showLoading" type="submit" class="bg-green-500 text-white p-2 w-3/5 rounded"
            [disabled]="signupForm!.invalid" [style.cursor]="signupForm!.invalid ? 'not-allowed' : 'pointer'">
            Register
          </button>
        </div>
        <div class="flex justify-center -translate-y-5 relative">
          <button *ngIf="showLoading"
            class="bg-green-500 text-white p-2 w-3/5 rounded flex justify-center items-center">
            <div class="w-6 h-6 border-2 border-white border-l-0 border-t-0 rounded-full animate-spin "></div>
          </button>
        </div>


      </div>
    </form>

  </div>
</div>