<!-- <app-side-bar></app-side-bar> -->

<div class="w-screen h-screen">
    <div class="h-full max-w-2xl mx-auto border rounded-md p-5">
        <div class="flex items-center">
            <input [(ngModel)]="searchText" type="text" (keyup)="search()" placeholder="Search here..."
                class="px-5 h-14 rounded-full border focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
        </div>
        <div class="mt-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div *ngFor="let data of user;let i = index" (click)="singleUser(data._id)" class="h-80 border rounded-lg bg-white shadow-md hover:shadow-lg">
                <div class="flex items-center p-3">
                    <p class="text-black font-bold">{{ data.username }}</p>
                    <img *ngIf="data.isVerified" class="h-5 w-5 ml-2" src="../../../../../assets/images/verify.png"
                        alt="">

                    <button *ngIf="!following[i]" (click)="followUser(data._id)"
                        class="ml-auto px-3 py-2 rounded-md text-white bg-blue-500 hover:bg-blue-700">
                        Follow
                    </button>
                    <button *ngIf="following[i]" (click)="followUser(data._id)"
                        class="ml-auto px-3 py-2 rounded-md text-blue-500 bg-white hover:bg-slate-200">
                        Following
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>